/* credo-block */
.credo-list {
    display: flex;
    margin: 0 auto;
  }
  .visually-hidden {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   border: 0;
   padding: 0;
   
   white-space: nowrap;
   clip-path: inset(100%);
   clip: rect(0 0 0 0);
   overflow: hidden;
 }
 .credo-items {
    text-decoration: none;
    
  }
  .credo-items:not(:first-child){
    margin-left: 30px;
  }
  .credo-names {
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 700;
     font-size: 14px;
     line-height: 2.56;
     letter-spacing: 0.03em;
     text-transform: uppercase;
     color: #212121;
     margin-bottom: 10px;
  }
  .credo-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
  }
  .icon-credo {   
    width: 70px;
    height: 70px;   
   
 
 
  }
  .credo-box-icon {
    background: #F5F4FA;
    width: 270px;
    height: 120px;
    border-radius: 4px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  } 
  .icon-clock {
    margin-top: 25px;
    margin-left: 25px;
  }
 